<div class="nav-container" [class.mobile]="mobileQuery.matches" *ngIf="shouldRun">
    
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 >
          <a [routerLink]="['/']" >
            Fishing Map
            <mat-icon aria-hidden="false">add_location</mat-icon>
        </a>
        </h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list class="px-2">

                <div mat-list-item class="text-center ">
                    <img class="p-img" src="../assets/img/austin-distel-7bMdiIqz_J4-unsplash.jpg" alt="">
                    <h2 class="p-name">Nombre de la persona</h2>
                </div>

                <a mat-list-item [routerLink]="['/']">
                    <mat-icon class="mr-2" aria-hidden="false">home</mat-icon>
                    Inicio
                </a>
                <a mat-list-item [routerLink]="['search']">
                    <mat-icon class="mr-2" aria-hidden="false">search</mat-icon>
                    Buscar
                </a>
                <a mat-list-item [routerLink]="['/']">
                    <mat-icon class="mr-2" aria-hidden="false">person</mat-icon>
                    Perfil
                </a>
            </mat-nav-list>            
        </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>      
      </mat-sidenav-content>
    
    </mat-sidenav-container>
  
</div>
  


  


